#icon {
    width: 5em;
    height: 5em;
    background: url("sprite.jpg");
    background-repeat: no-repeat;
    background-size: 500%;
}

#icon .gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0,.7) 0%, rgba(255,255,255,0) 100%);
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

#icon .gradient:hover {
    opacity: 1;
}
body {
    background-color: aliceblue;
}