#box1 {
    width: 50%;
    height: 20em;
    background-color: gray;
    padding: 2em;
    position: relative;
}

#box2 {
    width: 50%;
    height: 6em;
    background-color: red;
    border: green solid 2px;
}

#box3 {
    width: 3em;
    height: 5em;
    background-color:blue;
    position: absolute;
    right: 2em;
    bottom: 2em;
}
body {
    background-color: aliceblue;
}