h1 {
    color: red;
}

ul.mammamia > .pizzeria {
    color: blue;
}

li:first-letter, p:first-letter {
    font-size:x-large;
}

li:hover {
    color: yellowgreen;
}

#secondaRiga {
    color: coral;
}

li[bevere="temperamatite"] {
    color: blueviolet;
}